.hideButton {
  display: none;
}
body {
  background-color: beige;
}
.mainContainer {
  width: 1000px;
  height: 1000px;
  margin-left: 190px;
  margin-top: 200px;
  font-size: 25px;
  font-weight: bold;
  background-color: beige;
}
.score {
  display: inline-block;
}
.card {
  position: absolute;
  left: auto;
  top: 80px;
  display: inline-block;
  margin: 5px 0;
  margin-left: 200px;
  margin-top: 220px;
  padding: 7px;
  height: 150px;
  width: 110px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 8px 7px black;
}
.big {
  font-size: 2em;
  text-align: center;
  line-height: 45px;
  margin: auto;
  display: block;
}
.red {
  color: red;
}
.tiny {
  display: auto;
  font-size: 0.8em;
  line-height: 20px;
  vertical-align: top;
}
